@tailwind base;
@tailwind components;
@tailwind utilities;
@import './styles/utility.css';
/* Hide scrollbar but keep scroll functionality */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari & Opera */
}
body{
  @apply bg-gray-950 
}